In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
dataset=pd.read_csv('50_startup.csv') #read the csv file

In [22]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [20]:
x=dataset.iloc[:,:-1] # taking all the column as independent excluding the result one that is column 4 
y=dataset.iloc[:,4] # dependent data is profit so column 4
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [21]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [4]:
states=pd.get_dummies(x['State'],drop_first=True) #if you check in data set we have three different catoferies 
                                                  #so we use one hot encoding,

In [5]:
# now as we have converted the state column into categorial format we dont require the state column in X need  to remove 
x=x.drop('State',axis=1)

In [6]:
# now the state variable which were converted into categoies need to be concated with x
x=pd.concat([x,states],axis=1)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
multiple=LinearRegression()
multiple.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred=multiple.predict(x_test)
y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [12]:
#now we need to compare weather y_pred and y_test are good or not(accuracy) for that we need to use r square

In [13]:
from sklearn.metrics import r2_score

In [14]:
score=r2_score(y_test,y_pred)

In [15]:
print(score)

0.9347068473282423

In [16]:
data= x.copy()
data = data[data['R&D Spend'] < df2['walkDistance'].quantile(0.99)]
plt.figure(figsize=(15,10))
plt.title("walkDistance distrubution",fontsize =15)
sns.distplot(data['walkDistance'])
plt.show

NameError: name 'df2' is not defined